//- -----------------------------------------------------------------|
//- COMPONENT: FOOTER
//- -----------------------------------------------------------------|
//- Contains all HTML for the footer component.

- var name = 'footer'

//- -----------------------------------------------------------------|
include /mixins/_mixins
+devHead(name)
//- -----------------------------------------------------------------|

footer.footer(role='contentinfo')


//- -----------------------------------------------------------------|
+devFoot(name)
//- -----------------------------------------------------------------|
