// -----------------------------------------------------------------|
//	FORM MODULES
// -----------------------------------------------------------------|
// All overwrites & resets for common form elements.

// -----------------------------------------------------------------|
// LABELS
// -----------------------------------------------------------------|
.form-group {
	label {
		@include fontSize($type-small);

		// TABLET
		// ---------------------------------|
		@include bp(sm) {
			@include fontSize($type-base);
		}
	}

	// HAS ERRORS
	// -------------------------------------|
	&.has-error {
		label {
			color: $color-danger;
		}
	}
}

// -----------------------------------------------------------------|
// INPUTS
// -----------------------------------------------------------------|
.form-group {
	.form-control {
		@include fontSize($type-small);

		// TABLET
		// ---------------------------------|
		@include bp(sm) {
			@include fontSize($type-base);
		}
	}

	// HAS ERRORS
	// -------------------------------------|
	&.has-error {
		.form-control {
			border-color: $color-danger;
		}
	}
}

// -----------------------------------------------------------------|
// ERROR MESSAGES
// -----------------------------------------------------------------|
.form-group {
	.help-block {
		color: $color-danger;
		@include fontSize($type-smaller);
		display: none;
	}

	// HAS ERRORS
	// -------------------------------------|
	&.has-error {
		.help-block {
			display: block;
			@include fadeIn();
		}
	}
}
