//- -----------------------------------------------------------------|
//- PARTIAL: OUTDATED BROWSER
//- -----------------------------------------------------------------|
//- Contains all HTML for the Outdated Browser plugin.

- var name = 'outdated'
- var type = 'partial'

//- -----------------------------------------------------------------|
include /mixins/_mixins
+devHead(name, type)
//- -----------------------------------------------------------------|

#outdated
	h6 Your browser is out-of-date!
	p Update your browser to view this website correctly. #[a#btnUpdateBrowser(href='http://outdatedbrowser.com/' target='_blank') Update my browser now]
	p.last
		a#btnCloseUpdateBrowser(href='#' title='Close') Close &times;


//- -----------------------------------------------------------------|
+devFoot(name, type)
//- -----------------------------------------------------------------|
