//- -----------------------------------------------------------------|
//- KITCHEN SINK MIXIN
//- -----------------------------------------------------------------|
//- Contains the template for a all HTML elements that should be styled.

mixin kitchenSink()
	hr
	h2 Typography
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut iure eligendi sequi provident, nam, tempora laboriosam obcaecati dolor architecto optio asperiores facilis dolorum quibusdam tenetur velit laudantium veritatis rem.
	p
		a(href='#') Regular Link
	p
		strong Bolded text
	p
		em Italicized text
	blockquote
		p Blockquote text
	h1 Heading One
	h2 Heading Two
	h3 Heading Three
	h4 Heading Four
	h5 Heading Five
	h6 Heading Six
	hr
	h2 Lists
	ul
		li Unordered List Item
		li Unordered List Item
		li Unordered List Item
	ol
		li Ordered List Item
		li Ordered List Item
		li Ordered List Item
	hr
	h2 Forms
	form(action='#' method='POST' role='form')
		.form-group
			label(for='input-1') Label Example
			input#input-1.form-control(type='text', placeholder='Input Placeholder')
		.form-group
			.checkbox
				label(for='input-2')
					input#input-2(type='checkbox', value='')
					| Checkbox
			.radio
				label(for='input-3')
					input#input-3(type="radio", name="", value="", checked="checked")
					| Radio Box
		button.btn.btn-primary(type='submit') Submit
	hr
	h2 Buttons
	p
		button(type="button").btn.btn-default Default Button
		button(type="button").btn.btn-primary Primary Button
		button(type="button").btn.btn-success Success Button
		button(type="button").btn.btn-info Info Button
		button(type="button").btn.btn-warning Warning Button
		button(type="button").btn.btn-danger Danger Button
		button(type="button").btn.btn-link Link Button
	p
		button(type="button").btn.btn--alpha Alpha Button
		button(type="button").btn.btn--beta Beta Button
		button(type="button").btn.btn--gamma Gamma Button
		button(type="button").btn.btn--delta Delta Button
	h2 Tables
	figure
		table.table(aria-label='Example normal table')
			tr
				th Heading
				th Heading
				th Heading
			tr
				td Cell
				td Cell
				td Cell
	table.table.table-bordered.table-hover(aria-label='Example bordered table with hover')
		tr
			th Heading
			th Heading
			th Heading
		tr
			td Cell
			td Cell
			td Cell
	table.table.table-striped.table-hover(aria-label='Example striped table with hover')
		tr
			th Heading
			th Heading
			th Heading
		tr
			td Cell
			td Cell
			td Cell
