//- -----------------------------------------------------------------|
//- INDEX
//- -----------------------------------------------------------------|
//- Contains all blocks/variables & HTML for the index page
//- This includes the page title, meta tags, and all content.

extends /layouts/default/_default

//- -----------------------------------------------------------------|
//- PAGE SPECIFIC VARIABLES
//- -----------------------------------------------------------------|
block variables

	//- PAGE META
	//- -----------------------------|
	- var pageName = 'index'
	- var pageTitle = 'PageTitle'
	- var ogTitle = pageTitle
	- var pageDesc = 'PageDescription'
	- var ogDesc = pageDesc
	- var pageUrl = config.site.url + '/' + pageName + '.html'
	- var pageImage = config.site.url + '/images/share/' + pageName + '.jpg'


//- -----------------------------------------------------------------|
//- CONTENT
//- -----------------------------------------------------------------|
block content
	main#content(role='main')
		.container
			.row
				.col-sm-12
					h1= config.content.test
					p= config.content.lorem
					+kitchenSink

			include /layouts/default/components/_test


//- --------------------------------------|
//- HEAD - PAGE SPECIFIC <HEAD>
//- --------------------------------------|
block head
	//- Usually not needed.

//- --------------------------------------|
//- HEAD - PAGE SPECIFIC HEADER
//- --------------------------------------|
block header
	//- Usually not needed.

//- --------------------------------------|
//- FOOTER - PAGE SPECIFIC FOOTER
//- --------------------------------------|
block footer
	//- Usually not needed.

//- --------------------------------------|
//- FOOTER - PAGE SPECIFIC FOOT (JS)
//- --------------------------------------|
block foot
	//- Usually not needed.
