// -----------------------------------------------------------------
//	LIST ELEMENTS
// -----------------------------------------------------------------
// All overwrites & resets for custom list elements.

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
