//- -----------------------------------------------------------------|
//- FOOT
//- -----------------------------------------------------------------|
//- Contains all HTML and blocks for the foot include.
//- This includes all dependency scripts, our app script, and Google Analytics.

// build:js js/vendor.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js')
script(src='../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js')
script(src='../bower_components/modernizr/modernizr.js')
script(src='../bower_components/outdated-browser/outdatedbrowser/outdatedbrowser.js')
script(src='../bower_components/fastclick/lib/fastclick.js')
script(src='../bower_components/anchor-js/anchor.js')
// endbower
// endbuild

// build:js js/app.js
script(src='js/_helpers.js')
script(src='js/_vendor.js')
script(src='js/jq.js')
//- script(src='js/ng.js')
// endbuild

script.
	ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
	ga('create','#{siteAnalytics}','auto');ga('send','pageview')

script(src='https://www.google-analytics.com/analytics.js' async defer)
