//- -----------------------------------------------------------------|
//- HEAD
//- -----------------------------------------------------------------|
//- Contains all HTML and blocks for the head include.
//- This includes the page title, meta tags, our main stylesheet and Modernizr.

meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='theme-color' content='#{themeColor}')
link(rel='apple-touch-icon' href='apple-touch-icon.png')

// build:css(.tmp) css/app.css
link(href='css/app.css', rel='stylesheet')
// endbuild
