//- -----------------------------------------------------------------|
//- DEV MIXINS
//- -----------------------------------------------------------------|
//- Contains the template for outputting comments in our partials and components.

//-  DEV HEAD MIXIN
//- -----------------------------------------------------------------|
mixin devHead(name, subfolder)
	- var subfolder = subfolder || ''
	- var url = '/dev/components' + subfolder + '/_' + name + '.html'
	= '\n'
	| <!-- BEGIN COMPONENT: #{name.toUpperCase()} -->
	- if (global.devEnv)
		| <!-- #{url} -->


//-  DEV FOOT MIXIN
//- -----------------------------------------------------------------|
mixin devFoot(name, subfolder)
	- var subfolder = subfolder || ''
	= '\n'
	| <!-- END COMPONENT: #{name.toUpperCase()} -->
	= '\n'
